<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./layout/head.ejs') %>
</head>

<body>
    <header>
        <%- include('./layout/header.ejs') %>

    </header>
    <h1> Tu as <%= age %> ans</h1>
    <h2>Est tu un connard ? <%= connard %>
    </h2>

    <footer>
        <%- include('./layout/footer.ejs') %>

    </footer>
</body>

</html>